<% provide(:title, 'Contact Us') %>
	
<div id="contact-maps">
	<ul class="polaroids-page" style="width:400px; background:white;">
		<li>
      <a  href="http://maps.google.com/maps?q=607+South+3rd+Avenue+Chatsworth,+GA&hl=en&ll=34.759666,-84.767761&spn=0.029687,0.032659&sll=37.0625,-95.677068&sspn=57.772232,66.884766&hnear=607+S+3rd+Ave,+Chatsworth,+Georgia+30705&t=m&z=15" title="Chatsworth, GA" target="blank">
  		<%= image_tag "map-chatsworth.jpg" %>
  		</a>		
    </li>
	</ul>			
</div>
	
<div id="contact-text">	
	<div id="selections">
			<h2>Come See Us</h2>
			<p>We're easy to find in Chattsworth, Georgia.</p>
  			<p>607 South 3rd Avenue <br />
  			Chatsworth, GA<br />
  			(706) 695-7000<br /></p>
  			<p><a href="http://maps.google.com/maps?q=607+South+3rd+Avenue+Chatsworth,+GA&hl=en&ll=34.759666,-84.767761&spn=0.029687,0.032659&sll=37.0625,-95.677068&sspn=57.772232,66.884766&hnear=607+S+3rd+Ave,+Chatsworth,+Georgia+30705&t=m&z=15" title="Parts and Service - Chatsworth, GA" target="blank">
    		Directions to the Chatsworth Location</p>
        </a>
      </p>
    
<br />

    <section id="newsletter" class="box box-right">
      <header>
        <h1 class="script">Have A Question?</h1>
      </header>
      <div class="contact-form">
      <p>Have a question about our location or services, or just a comment about the site? </p>
      <p>Drop us a note below. <p>
      </div>
      
      <%= form_for @question, :html => {:id => "sign-up"}, :validate => true do |f| %>
        <fieldset class="contact-form">
        <%= f.label :name %>
        <%= f.text_field :name, :id=>"news-firstname", :placeholder=>"Your Name" %>

        <%= f.label :email %> 
        <%= f.email_field :email, :id=>"news-email", :placeholder=>"Your Email Address" %>

        <%= f.label :phone %>
        <%= f.text_field :phone, :id=>"news-phone", :placeholder=>"Your Phone Number (optional)" %>

        <%= f.label :question %>
        <%= f.text_area :question, :id=>"news-comments", :rows => 4, :placeholder=>"Your Question" %>
        
        <%= f.submit "Submit" %>    
        </fieldset>

      <% end %>
    </section> 

  </div>
</div>