<% provide(:title, 'The place for RVs in North Georgia and Chattanooga') %>


<div class="row">
	<div id="myCarousel" class="span8 carousel slide">
	  <!-- Carousel items -->
	  <div class="carousel-inner">
	    <div class="active item">
	    	<%= link_to image_tag("class-a.jpg"), :controller => :static_pages, 
                                           :action => :news, 
                                           :type => 1 %>
        <div class="carousel-caption">
	        <h4>See our complete line of Class B RVs</h4>
	        <p>Get out on the open road</p>
	      </div>
	    </div>
	    <div class="item">
	    	<%= link_to image_tag("grey-wolf.jpg"), "/news" %>
	    	<div class="carousel-caption">
	        <h4>Forest River Grey Wolf has arrived</h4>
	        <p>Come see the new line</p>
	      </div>
	    </div>
	    <div class="item">
	    	<%= link_to image_tag("everest-side.jpg"), :controller => :campers, 
                                           :action => :showcategory, 
                                           :type => 5 %>
	    	<div class="carousel-caption">
	        <h4>Used Fifth Wheels in stock</h4>
	        <p>Great deals and priced to move</p>
	      </div>
	    </div>

	    
	  </div>
	  <!-- Carousel nav -->
	  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	
	<div class="span3 camper-search-form">
			<h2>Search Our Inventory</h2>
				<%= form_for @search do |f| %>
			  
			  <fieldset id="search">
				<p>
				<%= f.label "Camper Type" %>
				<%= f.collection_select :category_id, Category.order(:category_name), :id, :category_name, :prompt => "Show All Types" %>
				
				<%= f.label "Keyword (optional)" %>
				<%= f.text_field :keywords %>
				</p>
								
			  <div class="actions"><%= f.submit "Find my RV" %></div>
			  </fieldset>
					
				<% end %>
		</div>

	

</div>

<!--
<div class="row ">
	<div class="span12 map-box">
		<div class="row">
			<div class="span4">
				<%= image_tag("price.png") %>
			</div>
			<div class="span4">
				<%= image_tag("offer.png") %>
			</div>
			<div class="span4">
				<%= image_tag("price.png") %>
			</div>
		</div>
	</div>
</div>
-->

<div class="row box-row">
	<div class="span4 box">
		<section id="news">
			<header>
				<h2 class="script">Latest Additions</h2>
			</header>
			<% @feed_items.each do |f| %>
				<article class="news-item">
					<header>
						<h3>
							<%= link_to truncate(f.headline, :length => 42), camper_path(f) %>
						</h3>
					</header>	
					<p><time datetime="2011-01-26" pubdate><%= f.created_at.time.to_formatted_s(:long_ordinal)  %></time></p>
				</article>
			<% end %>
		</section>
	</div>

	<div class="span4 box">
		<section id="specials">
			<header>
				<h2 class="script">Featured Camper</h2>
			</header>
			<a href="/campers/<%= @special.camper.id %>">
			<p><%= truncate(@special.camper.headline, :length => 60) %></p>
			<%= image_tag("rvfeatured.jpg", :class => "display") %>
		
	    
				<p><%= strip_tags(truncate(@special.camper.features, :length => 80)) %></p>
			</a>
		</section>
	</div>

	<div class="span4 box">
		<section id="newsletter">
			<header>
				<h2 class="script">Newsletter Sign-up</h2>
			</header>
			<p>Be the first to find out about new inventory!</p>
			<%= form_for @subscriber, :html => {:id => "sign-up"} do |f| %>
				<fieldset>
				<label for="news-name" >Name</label>
				<%= f.text_field :name, :id=>"news-name", :placeholder=>"Your Name" %>
				
				<label for="news-email" >Email</label> 
				<%= f.email_field :email, :id=>"news-email", :placeholder=>"Your Email Address" %>
				
				<%= f.submit "Sign up" %>
				</fieldset> 

				<p class="privacy">Our customers matter to us. <br />We'll never sell or share your info with others.</p>
				
			<% end %>
				
		</section>
	</div>
</div>

  