<% provide(:title, @user.name) %>

<div class="row">
  <div class="span10">


    <div class="profile">
      <span>
        <h2>User Profile and Application Setting Page</h2><br />
        <%= @user.name %>, welcome. You are now signed-in.<br /><br />
        <%= link_to "Change your user name, email or password", edit_user_path(current_user) %><br /><br />
        <%= link_to "Create a new listing", new_camper_path %><br /><br />
        
        
        <p>Listing to be shown as "Featured Camper" on the home page:</p>
        <%= form_for @special do |f| %>
          <%= f.select :camper_id, options_from_collection_for_select(Camper.all, :id, :headline, :selected => @special.camper_id),:prompt => 'Select Featured Camper' %>
          <%= f.submit "Update Featured RV" %>
          
        <% end %>
     </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="span4 box box-spacing"> 
		<section id="specials">
			<header>
				<h2 class="script">Featured Camper</h2>
			</header>
			<a href="/campers/<%= @special.camper.id %>-<%= @special.camper.permalink %>">
			<p><%= truncate(@special.camper.headline, :length => 60) %></p>
			<% for attachment in @special.camper.attachments %>
		    <% if attachment.id == @special.camper.attachment_id %>
				  <%= image_tag attachment.file_url, :class => "display", :title => attachment.description,  :href => attachment.file_url if attachment.file? %>
		    <% end %>
	    <% end %>
      <p><%= strip_tags(truncate(@special.camper.features, :length => 80)) %></p>
			</a>
		</section>
  </div>
</div>
