<div class="row camper-listing">
  <div class="span2 listing-pic">
    <% for attachment in camper.attachments %>
      <% if attachment.id == camper.attachment_id %>
        <%= image_tag attachment.file_url, :class => "group1", :title => attachment.description, :width => 150, :href => attachment.file_url if attachment.file? %>
        <% if camper.status.status == "Sold" %>
        <p class="sold">SOLD</p>
        <% end %>
        <% if camper.status.status == "Sale Pending" %>
        <p class="pending">SALE PENDING</p>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="span7 listing-details">
    <h2><%= truncate(camper.headline, :length => 60) %></h2>
    <p>
      <span class="col1">Type: <%= camper.category.category_name %></span>
      <span class="col2">Year: <%= camper.year %></span>
      <span class="col3">Make: <%= camper.brand.brand_name %></span>
    </p>
    <p class="features"><%= strip_tags(truncate(camper.features, :length => 230)) %></p>

  </div>

  <div class="span2 listing-price">
    <p class="price"><%= number_to_currency(camper.price_now, :unit => "$") %></p>
    <form METHOD="LINK" ACTION="<%= camper_path(camper) %>">
    <a href="<%= camper_path(camper) %>"><input type="submit" class="btn-primary" value="View Details" action="<%= camper_path(camper) %>"></a>
    </form>
  </div>
</div>






