		<div id="sign-up" >
		
		<div class="left">
		<%= f.label :headline %>
		<%= f.text_field :headline, :size => 50 %>
	
		<%= f.label 'Our Price' %>
		<%= f.number_field number_with_delimiter(:price_now), :size => 6 %>
	
		<%= f.label :year %>
		<%= f.text_field :year, :size => 4 %>
		
		<%= f.label :mileage %>
		<%= f.number_field number_with_delimiter(:mileage), :size => 4 %>
		
		<%= f.label 'Stock Number' %>
		<%= f.text_field :stock_number, :size => 4 %>
	
		<%= f.label :length %> 
		<%= f.text_field :length, :size => 2 %>(in feet)
		
		<%= f.label :weight %> 
		<%= f.text_field(:weight) %>(in lbs)
	
		<%= f.label "# of AC Units" %>
		<%= f.number_field :ac_units, :size => 2 %>
		
		<%= f.label '# of Slides' %>
		<%= f.number_field :slide, :size => 2 %>
		
		<%= f.label 'Engine Type' %>
		<%= f.select :engine_id, options_from_collection_for_select( Engine.all, :id, :engine_type),:prompt => 'Select Engine Type' %>	
	</div>
	<div class="right">

	
		<%= f.label :features %>
		<%= f.text_area :features %>
	
		<%= f.label :brand_id %>
		
    <%= f.text_field :brand_name, data: {autocomplete_source: Brand.order(:brand_name).map(&:brand_name)} %>	
	
	
		<%= f.label :category_id %>
		<%= f.select :category_id, options_from_collection_for_select( Category.all, :id, :category_name, :selected => @camper.category_id),:prompt => 'Select Category' %>	
		
		<%= f.label 'Sold Status' %>
		<%= f.select :status_id, options_from_collection_for_select( Status.all, :id, :status, :selected => @camper.status_id),:prompt => 'Sold Status' %>	
		
		<%= f.label 'New Camper?' %>
		<%= f.check_box :is_new %>	
		
		<%= f.label 'Choose Main Display Photo' %>
		<% if @camper.attachment_id? %>
		<%= f.select :attachment_id, options_from_collection_for_select( Attachment.where("attachable_id = #{params[:id]}"), :id, :description, :selected => @camper.attachment_id),:prompt => 'Select Category' %>	
		<% end %> 
	</div>	
		
  <div id="images">
  <h3>Images</h3>
  <br />
  <div >
	  <%= f.fields_for :attachments do |attachment_form|  %>
		
		<%= attachment_form.label :description %>
		<%= attachment_form.text_field :description %>
		
		<%= attachment_form.label 'Image' %>
		<%= image_tag attachment_form.object.file.thumb.url, :class => "group1", :title => attachment_form.object.description, :href => attachment_form.object.file.url if attachment_form.object.file?  %>
		<%= attachment_form.file_field :file %>
		
		<br />
		<%= attachment_form.link_to_remove "Remove this image" %>
		
	  <% end %>
	  

	  
	  </div>
	    <br />
	  <%= f.link_to_add "Add an image", :attachments %>
	  
	  <br />
	  <div>
	  
</div>
	  	
	 
	</div>
	

