<div id="camper-fields" class="users">
<h2>Edit Camper</h2>
<br />
<%= nested_form_for @camper, :html=>{:multipart => true } do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div id="sign-up" class="actions">
		<%= f.submit "Update RV" %>	

	</div>
		
	<%= render 'fields', :f => f %>

	<div id="sign-up" class="actions">
	<%= f.submit "Update RV" %>	

	</div>
	<% end %>
<br />

<div id="action-links">

<%= link_to "Go to the RV Listing", @camper %><br /><br />
<%= link_to 'Delete this RV', @camper, :method => :delete,
									  :confirm => "This action will delete the RV. Are you sure?", :title => @camper.headline %>
									  
</div> 
									  
</div>
									  
									  
