
<div class="listing">
  <div class="listing_wrapper round">	
    <h1>Refine Your Search</h1>	
    <%= form_for @search do |f| %>
    
      <fieldset id="search">
        <span class="col1">
          <%= f.label "Type" %>
          <%= f.collection_select :category_id, Category.order(:category_name), :id, :category_name, :include_blank => "Select All" %>
        </span>
        <span class="col2">    
          <%= f.label :keyword %>
          <%= f.text_field :keywords %>
        </span>
        <span class="col4">
          <div class="field" style="margin-top:30px"><%= f.submit "Find my RV" %></div>
        </span>
        
      </fieldset>
    <% end %>
  </div>


  
    <%= render @camper %>
  
</div>
