
<div class="listing">

  <div class="row listing_wrapper">
    
    <div class="span12">
      <h1>Refine Your Search</h1>	
      <div class="row">
        <%= form_for @search do |f| %>
        
          <fieldset id="search">
            <div class="span4">
              <%= f.label "Type" %>
              <%= f.collection_select :category_id, Category.order(:category_name), :id, :category_name, :include_blank => "Select All" %>
            </div>
            <div class="span4">    
              <%= f.label "Keyword (optional)" %>
              <%= f.text_field :keywords %>
            </div>
            <div class="span4">
              <div class="field" style="margin-top:24px; float:left;"><%= f.submit "Find my RV" %></div>
            </div>
            
          </fieldset>
        <% end %>
      
      </div>
    
    </div>
  </div>

  
    <%= render @camper %>
  
</div>
