<section class="round">
  		
</section>

<div class = "camper_show_wrapper">
	<div class = "camper_show_listing round">
		<h2 class = "camper_show_headline">
			<%= @camper.headline %>
		</h2>
			<% if signed_in? %>
				<%= link_to "edit RV", edit_camper_path %>
			<% end %>
	  <div class="camper_show_picture">
	     <% for attachment in @camper.attachments %>
		    <% if attachment.id == @camper.attachment_id %>
				  <%= image_tag attachment.file_url, :class => "group1", :title => attachment.description, :width => 450, :href => attachment.file_url if attachment.file? %>
		    <% end %>
	    <% end %>
	  </div>
	  <div class="camper_show_details"><br />
		  <span class="price"><%= number_to_currency(@camper.price_now, :unit => "$") %></span>
		  <br />
		  <p>
			<span class="col1">Type:</span><span class="col2"><%= @camper.category.category_name %></span>
			<span class="col3">Mileage:</span><span class="col4"><%= number_with_delimiter(@camper.mileage) %></span>
		  </p>
		  <p>
			<span class="col1">Make:</span><span class="col2"><%= @camper.brand.brand_name %></span>
			<span class="col3">Year:</span><span class="col4"><%= @camper.year %></span>
		  </p>
		  <p>
			<span class="col1">Model:</span><span class="col2">Chalet</span>			
			<span class="col3">Length:</span><span class="col4"><%= @camper.length %></span>
		  </p>
		  <p>
			<span class="col1">A/C:</span><span class="col2"><%= pluralize(@camper.ac_units, "unit") %></span>			
			<span class="col3">Stock #:</span><span class="col4"><%= @camper.stock_number %></span>
		  </p>
		  <p>
			<span class="col1">Slides:</span><span class="col2"><%= @camper.slide %></span>
			<span class="col3">New:</span><span class="col4"><% if @camper.is_new == true %> Yes <% else %> No <% end %></span>			
		  </p>
		  <p>
		  <span class="col1">Weight:</span><span class="col2"><%= @camper.weight %></span>	
		  <span class="col3">Status:</span><span class="col4"><%= @camper.status.status %></span>	
		  </p>
		  <p>
		  <span class="col1">Engine:</span><span class="col2"><%= @camper.engine.engine_type %></span>	
		  </p><br />
		  <span class="features"><%= @camper.features %></span>
		</div>
	</div>
  
  <div id="camper_photos">
  	<section  class="box">
  		<header>
  			<h1 class="script">Additional Photos</h1>
	  	</header>
			<br />
			
			<% for attachment in @camper.attachments %>
			  <%= image_tag attachment.file_url(:thumb), :class => "group1", :title => attachment.description, :href => attachment.file_url if attachment.file? %>
		  <% end %>
		</section>
	</div>
 
	<div id="camper_blocks">
		<section id="newsletter" class="box box-right">
			<header>
				<h1 class="script">Contact us for more info</h1>
			</header>
	
			<%= form_for @prospect, :html => {:id => "sign-up"}, :validate => true do |f| %>
				<fieldset>
					<%= f.label :name %>
			    <%= f.text_field :name, :id=>"news-firstname", :placeholder=>"Your Name" %>

					<%= f.label :email %> 
			    <%= f.email_field :email, :id=>"news-email", :placeholder=>"Your Email Address" %>

			    <%= f.label :phone %>
			    <%= f.text_field :phone, :id=>"news-phone", :placeholder=>"Your Phone Number (optional)" %>
					
					<%= f.label "Message" %>
					<%= f.text_area :comments, :id=>"news-comments", :rows => 4, :placeholder=>"Your Message" %>
					
					<%= f.hidden_field :camper_id, {:value => @camper.id } %>
					
					<%= f.submit "Submit" %>
				</fieldset> 
			<% end %>
		</section>
  </div>	
  <div class="disclaimer">
  Disclaimer: Prices listed on http://www.brockmansrv.com/ are subject to change without notice. Brockman's RV does not guarantee the accuracy of the listed prices and reserves the right to refuse inaccurate price listings.
	</div>
</div>

<div id="cboxOverlay" style="opacity: 1; cursor: auto; display: none; "></div>
	
	