
<div class="listing">
  <h1 class="type">United RV <%= @category.category_name %> Units</h1>
  <div class="row listing_wrapper"> 
    <div class="span12">
      <h1>Refine Your Search</h1> 
      <div class="row">
        <%= form_for @search do |f| %>
        
          <fieldset id="search">
            <span class="span4">
              <%= f.label "Type" %>
              <%= f.collection_select :category_id, Category.order(:category_name), :id, :category_name, :include_blank => "Select All" %>
            </span>
            <span class="span4">    
              <%= f.label "Keyword (optional)" %>
              <%= f.text_field :keywords %>
            </span>
            <span class="span4">
              <div class="field" style="margin-top:24px; float:left;"><%= f.submit "Find my RV" %></div>
            </span>
            
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>


    

    <% if @camper.count == 0 %>
      <h1 class="search_results no_results" style="margin-bottom:200px;margin-left: 20px;">Sorry, we currently do not have any <%= @category.category_name %> units in stock.</h1>
    <% else %>
      <%= render @camper %>
    <% end %>
  
</div>
