<%= form_for @question, :html => {:id => "sign-up"} do |f| %>
    <fieldset>
    <label for="news-name" >Your Name</label>
    
    <%= f.text_field :name, :id=>"news-firstname", :placeholder=>"Your Name", :value => params[:name] %>
    </fieldset>
    <fieldset>
    <label for="news-email" >Email</label> 
    <%= f.email_field :email, :id=>"news-email", :placeholder=>"Your Email Address" %>
    </fieldset>
    <fieldset>
    <label for="news-email" >Phone</label> 
    <%= f.text_field :phone, :id=>"news-phone", :placeholder=>"Your Phone Number (optional)" %>
    </fieldset>
    <fieldset>
    <label for="news-email" >Message</label> 
    <%= f.text_area :question, :id=>"news-comments", :rows => 4, :placeholder=>"Your Question" %>
    </fieldset>
    
    <fieldset>
    <%= f.submit "Submit" %>
  
  </fieldset> 
<% end %>