<footer id="primary-foot">
  <section id="history">
    <header><h3>Our History</h3></header>
    <p>United RV has been helping customers start new adventures for over 20 years and is the oldest RV dealer in North Georgia. We serve the greater Chattanooga area and love getting people out on the open road. Come see why we're different than all other dealerships.<br /> 
    <a href=<%= about_path%>>Read More</a></p>
  </section>
		
  <section id="info">
    <nav id="footer-nav">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Search", '#' %></li>
        <li><%= link_to "Parts", parts_path %></li>
        <li><%= link_to "Services", service_path %></li>
        <li><%= link_to "News", news_path %></li>
        <li><%= link_to "Contact", 'contact_path' %></li>
        <% if signed_in? %>
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Settings", '#' %></li>
        <li>
          <%= link_to "Sign out", signout_path, method: "delete" %>
        </li>
        <% end %>
      </ul>
      
    
    <p class="copyright">&copy; 2012 Ten in Five Productions<br />
    </p>
  </section>
</footer>
