<header id="header">
  <a href="/" id="left-header"></a>
  <a href="/" id="logo" alt="United RV"></a>
  <a href="/" id="right-header"></a><br />
  <div class="header-address">
    <a href="/contact"><span class="left">360 Frontage Road<br />Ringold, GA 30736</span></a>
    <span class="center">Ringgold &#183; Chatsworth</span>
    <a href="/contact"><span class="right">(Tel) 706.965.4300<br />(Fax)    706.965.2797</span></a>
  </div>
</header>	

<nav id="primary">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About Us", about_path %></li>
    <li><%= link_to "RV Search", '#' %></li>
    <li><%= link_to "Parts", parts_path %></li>
    <li><%= link_to "Services", service_path %></li>
    <li><%= link_to "News", news_path %></li>
    <li><%= link_to "Contact", 'contact_path' %></li>
  </ul>
</nav>